.button {
    border: none;
    background-color: #000;
    border-radius: 16px;
    color: #fff;
    font-size: 24px;
    width: 64px;
    height: 64px;
    margin: 0 16px;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.815);
}